* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.netflix-logo {
    position: relative;
    height: 416px;
    width: 288px;
    overflow: hidden;
}

.netflix-logo::before {
    content:'';
    bottom: -100px;
    left: 0;
    position: absolute;
    height: 120px;
    width: 100%;
    background: #000;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    z-index: 3;
    transform: scaleY(1.5);
}

.netflix-logo::after,h3::before { /*animacion de carga*/
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent, #000, #000); /*color del sombreado*/
    z-index: 3;
    animation: anima 1.8s linear forwards; 
}

@keyframes anima { /*animacion de carga*/
    0% {
        right: 0%;
    }
    100% {
        right: -200%;
    }
}

.netflix-logo span {
    position: absolute;
    top: 0;
    height: 100%;
    width: 96px;
    background-color: #fff;
}

.netflix-logo span:nth-child(1){ /*parte derecha de la N*/
    background: #b00612;
    left: 0;
}

.netflix-logo span:nth-child(2){ /*centro de la N*/
    background: #e50815; 
    transform-origin: top left;
    transform: skewX(24.79deg); /*Parte Izquierda de la N*/
    z-index: 1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); /*agrega sombreado sobre la N blanca*/
}

.netflix-logo span:nth-child(3) {
    background: #b00612;
    right: 0;
}

h3 {
    position: relative;
    color: #fff;
    text-align: center;
    font-family: Arial; /*fuente*/
    text-transform: uppercase; /*para que se vea mayuscula el texto*/
    font-size: 58px; /*tamaño de letra*/
    letter-spacing: 8px; 

}